@inject NavigationManager navi
@inject Blazored.LocalStorage.ILocalStorageService _localStorage;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorProductList</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@((e)=>GoToNewView("dashboard"))">
                <span class="iconify" data-icon="ic:outline-dashboard"
                      data-inline="false" data-height="28"></span>Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@((e)=>GoToNewView("fetchdata"))">
                <span class="iconify" data-icon="foundation-clipboard-notes"
                      data-inline="false" data-height="28"></span> Produkte
            </NavLink>
        </li>

        @*<li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@((e)=>GoToNewView("productcollection"))">
                <span class="iconify" data-icon="foundation-clipboard-notes"
                      data-inline="false" data-height="28"></span> Produkte
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@((e)=>GoToNewView("import"))">
                <span class="iconify" data-icon="gg:import" data-inline="false" data-height="28"></span> Import
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@((e)=>GoToNewView("export"))">
                <span class="iconify" data-icon="bx:bx-export" data-height="28" data-inline="false"></span> Export
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@((e)=>GoToNewView("setting"))">
                <span class="iconify" data-icon="fluent:settings-16-regular" data-height="28" data-inline="false"></span> Einstellung
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@((e)=>GoToNewView("controlsystem"))">
                <span class="iconify" data-icon="pixelarticons:sliders" data-height="28" data-inline="false"></span> System
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@((e)=>GoToNewView("cloudconnector"))">
                <span class="iconify" data-icon="uil:cloud-data-connection" data-height="28" data-inline="false"></span> Verbindung
            </NavLink>
        </li>
    </ul>
</div>

@code {

    private bool collapseNavMenu = true;


    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public async Task GoToNewView(string link)
    {
        await  _localStorage.SetItemAsync("navi", link);
        navi.NavigateTo($"/{link}");
    }
}
